/* App navigation bar and footer */
html, body {
  max-width: 100%;
}
nav {
  width: 95%; margin: 0 auto;
  margin-bottom: -80px;
}
body {
  background-color: #FFFFFF;
}
.display-flex {
  display: flex;
}
.display-flex-space {
  display: flex;
  justify-content: space-between;
}
.display-flex-center {
  display: flex;
  justify-content: center;
}
#B {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 80px;
  margin-left: 75px;
}
#🍺 {
  font-size: 60px;
  margin-right: 57px;
}
.hyphen {
  height: 1px;
  background-color: #D8D8D8;
}
.hyphen-vertical {
  width: 1px;
  background-color: #D8D8D8;
}
#footer {
  height: 180px;
  background-color: #FFFFFF;
  width: 95%; 
  margin: 0 auto;
  margin-bottom: 248px;
  position: relative;
  top: -260px;
}
#cheers {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 88px;
}
#punk-api-v-2 {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  padding-top: 70px;
  margin-right: 80px;
}

/* Beers List  */
#beers-contenair {
  position: absolute;
  top: 0;
  margin-top: 260px;
  width: 100%;
  text-align: center;
}
#beers {
  display: inline-block;
  text-align: center;
}
#background {
  font-size: 1000px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  writing-mode: vertical-rl;
  margin: 0 auto;
  color:#FFCF00;
}
#left-beers {
  margin-right: 60px;
}
#right-beers {
  margin-left: 60px;
}
#left-beer-info-img {
  margin-bottom: 300px;
}
#right-beer-info-img {
  margin-bottom: 300px;
}
#left-beer-img-container {
  height: 700px; 
  width: 180px;
}
#left-beer-img {
  height: 100%;
  width: 100%;
}
#right-beer-img-container {
  height: 700px;
  width: 180px;
}
#right-beer-img {
  margin-top: 350px;
  height: 100%;
  width: 100%
}
#left-beer-info {
  width: 400px;
  margin-right: 50px;
  margin-top: 250px;
}
#right-beer-info {
  width: 400px;
  margin-left: 50px;
  margin-top: 570px;
}
#left-beer-name {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 35px;
  text-align: right;
}
#right-beer-name {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 35px;
  text-align: left;
}
#left-beer-tagline {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 22px;
  float: right;
  margin-bottom: 15px;
}
#right-beer-tagline {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 22px;
  text-align: left;
  margin-bottom: 15px;
}
.btn-see-more {
  height: 50px;
  width: 200px;
  background-color: #000000;
  cursor: pointer;
}
.see-more {
  height: 17px;
  width: 74px;
  color: #FFFFFF;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}

/* Beers Details */
#beer-details {
  margin-top: 10px;
  margin-bottom: 400px;
  display: none;
}
#button-x {
  display: none;
}
#malt-ingredients {
  display: flex;
  justify-content: flex-end;
}
#beer-detail-img-content {
  height: 1000px;
  width: 50%;
  text-align: center;
}
#beer-detail-img {
  height: 100%;
  position: absolute;
  margin-top: 200px;
  top: 0;
}
#beer-detail-infos {
  height: 1064px;
  width: 50%;
  margin-left: 119px;
  margin-right: 119px;
}
#beer-detail-name {
  margin-top: 70px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 80px;
  line-height: 64px;
  margin-bottom: 25px;
  margin-top: 100px;
}
#beer-detail-tagline {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  line-height: 30px;
  margin-bottom: 45px;
}
#beer-description {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  line-height: 22px;
  margin-bottom: 77px;
}
#specifications {
  color: #CCCCCC;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
}
.beer-detail-lane {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
#ingredients {
  color: #CCCCCC;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}
#beer-detail-background {
  font-size: 100px;
  line-height: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#FFCF00;
  margin-top: 200px;
}

@media screen and (min-width: 0px) and (max-width: 660px) { /* show on small screen */
  #left-beer-img-container {
    height: 500px; 
    width: 120px;
  }
  #right-beer-img-container {
    height: 500px;
    width: 120px;
  }
}
