/* App navigation bar and footer */
nav {
  width: 95%; margin: 0 auto;
  margin-bottom: -110px;
}
body {
  background-color: #FFFFFF;
}
.display-flex-space {
  display: flex;
  justify-content: space-between;
}
.display-flex-center {
  display: flex;
  justify-content: center;
}
#B {
  height: 87px;
  width: 25px;
  color: #000000;
  font-family: "Druk Cond";
  font-size: 80px;
  letter-spacing: 0;
  line-height: 89px;
  margin-left: 60px;
  margin-bottom: 15px;
  margin-top: 15px;
}
#🍺 {
  height: 66px;
  width: 50px;
  color: #000000;
  font-family: "Apple Color Emoji";
  font-size: 50px;
  letter-spacing: 0;
  line-height: 66px;
  margin-right: 57px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.hyphen {
  height: 1px;
  background-color: #D8D8D8;
}
.hyphen-vertical {
  width: 1px;
  background-color: #D8D8D8;
}
#footer {
  height: 120px;
  background-color: #FFFFFF;
  width: 95%; 
  margin: 0 auto;
  margin-bottom: 363px;
}
#cheers {
  height: 24px;
  width: 83px;
  color: #000000;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 48px;
  margin-top: 48px;
  margin-left: 58px;
}
#punk-api-v-2 {
  height: 23px;
  width: 121px;
  color: #000000;
  font-family: "Helvetica Neue";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 59px;
  padding-top: 53px;
}

/* Beers List  */
#beers {
  position: absolute;
  margin-top: 260px;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 20px;
}
#background {
  font-size: 1500px;
  font-family: Arial, Helvetica, sans-serif;
  writing-mode: vertical-rl;
  margin: 0 auto;
  color:#FFCF00;
}
#left-beers {
  margin-right: 70px;
}
#right-beers {
  margin-left: 70px;
}
.display-flex {
  display: flex;
}
#left-beer-info {
  width: 400px;
  margin-right: 120px;
  margin-top: 345px;
}
#right-beer-info {
  width: 400px;
  margin-left: 120px;
  margin-top: 670px;
}
#left-beer-name {
  color: #000000;
  font-family: "Druk Cond";
  font-size: 80px;
  letter-spacing: 0;
  line-height: 64px;
  margin-bottom: 14px;
  text-align: right;
}
#right-beer-name {
  color: #000000;
  font-family: "Druk Cond";
  font-size: 80px;
  letter-spacing: 0;
  line-height: 64px;
  margin-bottom: 14px;
}
#left-beer-tagline {
  color: #000000;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  text-align: right;
}
#right-beer-tagline {
  width: 240px;
  color: #000000;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
}
#left-beer-brewed {
  margin-bottom: 14px;
  text-align: right;
}
#right-beer-brewed {
  margin-bottom: 14px;
}
#left-beer-img {
  width: 180px;
  margin-right: 60px;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
}
#right-beer-img {
  width: 180px;
  margin-left: 60px;
  margin-top: 350px;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
}
.btn-see-more {
  height: 70px;
  width: 300px;
  background-color: #000000;
  cursor: pointer;
}
.see-more {
  height: 17px;
  width: 74px;
  color: #FFFFFF;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}

/* Beers Details */
#beer-details {
  margin-top: 140px;
  display: none;
}
#button-x {
  display: none;
}
#malt-ingredients {
  display: flex;
  justify-content: flex-end;
}
#beer-detail-img-content {
  height: 1064px;
  width: 57%;
  text-align: center;
}
#beer-detail-img {
  height: 894px;
  position: absolute;
  margin-top: 260px;
  top: 0;
}
#beer-detail-infos {
  height: 1064px;
  width: 43%;
  margin-left: 119px;
  margin-right: 119px;
}
#beer-detail-name {
  margin-top: 51px;
  color: #000000;
  font-family: "Druk Cond";
  font-size: 80px;
  letter-spacing: 0;
  line-height: 64px;
  margin-bottom: 14px;
}
#beer-detail-tagline {
  color: #000000;
  font-family: "Helvetica Neue";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 45px;
}
#beer-description {
  color: #000000;
  font-family: "Helvetica Neue";
  font-size: 25px;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 77px;
}
#specifications {
  color: #CCCCCC;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 25px;
}
.beer-detail-lane {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
#ingredients {
  color: #CCCCCC;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
#beer-detail-background {
  font-size: 200px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  color:#FFCF00;
  margin-top: 200px;
}
